<!-- The 'History' Page -->

{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr class="table-active">
                    <th scope="col">Type</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                    <th scope="col">Timestampe</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr class="table-light">
                    <td>{{ transaction.name }}</td>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>${{ (transaction.price) }}</td>
                    <td>${{ '%0.2f' %(transaction.shares * transaction.price) }}</td>
                    <td>{{ transaction.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}
